*{
  font-family: 'Roboto', sans-serif;
}

.wrapper
{
  display: flex;
  margin-left: 20px;
  margin-right: : 20px;

}

.table-name
{
  color: rgba(0, 49, 79, 0.9);
  font-size: 1.75rem;
  font-weight: 200;
  text-align: center;
}

.MyTable
{
  display: table;
}

.MyTable-Tr
{
  display: table-row;
}

.MyTable .MyTable-Tr .MyTable-Td
{
  display: table-cell;
  padding: 20px;
  border-bottom: solid 1px #000;
  overflow: scroll;
}

.MyTable .title
{
  background-color: rgba(0, 49, 79, 0.9);
  color: #FFF;
}

.hide
{
  color: #FFF;
}

.colored
{
  background-color: rgba(141, 141, 141, 0.3);
}

h4:hover
{
  cursor: copy;
}
