*{
  font-family: 'Roboto', sans-serif;
}

.wrapper
{
  padding-left: 18px;
  padding-right: 18px;
  overflow: hidden;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}

.table-name
{
  color: rgba(86, 138, 242, 0.9);
  font-size: 1.75rem;
  font-weight: 200;
  text-align: center;
}

.MyTable
{
  display: table;
}

.MyTable-Tr
{
  display: table-row;
}

.MyTable .MyTable-Tr .MyTable-Td
{
  display: table-cell;
  padding: 20px;
  border-bottom: solid 1px #000;
}

.MyTable .title
{
  background-color: rgba(86, 138, 242, 0.9);
  color: #FFF;
}

.colored
{
  background-color: grey;
}
